@use 'index' as *;

.location-modal {
  background-color: $background-hover;
  padding: $spacing-5;
  height: 50vh;
  width: 50vw;

  @include center-div;
  flex-direction: column;
  border-radius: $border-radius-md;
  gap: $spacing-5;

  &__title {
    text-align: center;
    font-size: $font-size-md;
    margin-bottom: $spacing-3;
  }

  .map {
    height: 320px;
    width: 100%;
    border-radius: $border-radius-md;
  }

  &__actions {
    @include center-div;
    gap: $spacing-5;
  }

  app-button {
    margin-top: $spacing-3;
  }
}
