$primary-color: #facc15;
$primary-color-hover: #ffdb4b;
$primary-color-active: #e7b900;
$secondary-color: #7e7e7e;
$secondary-color-hover: #a4a4a4;
$secondary-color-active: #6f6f6f;

// $secondary-color: #1;
// $secondary-color-hover: #a51118;

$background: #231f0f;
$background-text: #666666;
$white: #ffffff;
$black: #000000;
$black-hover: rgb(54, 54, 54);
$red: #e70c00;
$disabled: #7e7e7e;
$inputs: #3b3826;
$success-green: #008000;
