$primary-color: #facc15;
$primary-color-hover: #ffdb4b;
$primary-color-active: #e7b900;

// $secondary-color: #1;
// $secondary-color-hover: #a51118;

$background: #231f0f;
$background-text: #666666;
$white: #ffffff;
$black: #000000; 
$black-hover: rgb(54, 54, 54);
$red: #ff3b30;
$disabled: #7e7e7e;
$inputs: #3B3826;