@use 'material-theme' as *;
@use 'colors' as *;
@use 'breakpoints' as *;
@use 'spacing' as *;
@use 'mat-components';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  background-color: $background;
  color: $white;
}

.container {
  width: 100%;
  //   max-width: 1500px;     // adjust
  margin: 0 auto;
  padding: 0 $spacing-8;
  box-sizing: border-box;
  @include respond('xs') {
    padding: 0 $spacing-4;
  }
}

.main-content {
  padding-top: $header-hight;
}

.mat-stepper-vertical,
.mat-stepper-horizontal {
  background: $background !important;
  color: $white;
}

.mat-step-text-label {
  color: $white;
}

// html, body { height: 100%; }
