@use 'index' as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  // outline: 1px solid red;
  // &:hover {
  //   outline: 1px solid rgb(178, 218, 0);
  // }
}

html,
body {
  background-color: $background;
  color: $white;
  height: 100%;
}

.container {
  width: 100%;
  //   max-width: 1500px;     // adjust
  margin: 0 auto;
  padding: 0 $spacing-8;
  box-sizing: border-box;
  @include respond('xs') {
    padding: 0 $spacing-4;
  }
}

.main-content {
  padding-top: $header-height;
  min-height: calc(100% - $header-height);
}

.error-text {
  color: $red;
  font-size: $font-size-sm;
}

.empty-text {
  color: gray;
  font-style: italic;
}

.mat-stepper-vertical,
.mat-stepper-horizontal {
  background: $background !important;
  color: $white;
}

.mat-step-text-label {
  color: $white;
}

.mdc-snackbar__surface {
  background-color: transparent !important;
}

// scroll bar styles
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $background-hover;
}

::-webkit-scrollbar-thumb {
  background: $secondary-color;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: $secondary-color-hover;
}
