<div class="chat-box">
  <div class="chat-box__window-header">
    <div class="chat-box__window-user">
      <img
        [src]="'assets/defaults/default-user.png'"
        alt="User"
        class="chat-box__window-avatar"
      />
      <span class="chat-box__window-name">{{
        currentUser() ? fullName(currentUser()!) : 'User'
      }}</span>
    </div>
  </div>

  <div class="chat-box__messages">
    @if (messages().length > 0) {
      @for (userMesage of messages(); track $index) {
        <div
          class="chat-box__message"
          [ngClass]="{
            'chat-box__message--incoming':
              userMesage.senderId !== loggedInUser()?.id,
          }"
        >
          <p class="chat-box__message-text">{{ userMesage.text }}</p>
          @if (userMesage.senderId === loggedInUser()?.id) {
            <div class="chat-box__message-status">
              <small>{{ userMesage.isRead ? 'seen' : 'sent' }}</small>
            </div>
          }
        </div>
      } @empty {
        <p class="empty-text">Start Messaging</p>
      }
    }
  </div>

  <div class="chat-box__input">
    <input
      type="text"
      placeholder="Type a message..."
      class="chat-box__input-field"
      [(ngModel)]="message"
      (keydown.enter)="onEnter()"
    />
    <app-button (clickEvent)="sendMessage()">Send</app-button>
  </div>
</div>
