@use 'colors' as *;
@use 'breakpoints' as *;
@use 'spacing' as *;
@use 'variables' as *;
@use 'typography' as *;
@use 'borders' as *;

.forgot-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - $header-height);

  @include respond('xs') {
  }

  .forgot-form-wrapper {
    display: flex;
    flex-direction: column;
    gap: $spacing-4;
    padding: $spacing-2;
    width: 80%;
    max-width: 400px;
    @include respond('xs') {
      gap: $spacing-3;
      padding: $spacing-1;
    }
  }

  .title,
  .sub-title {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: $spacing-4;
  }

  @include respond('xs') {
    .title {
      font-size: $font-size-lg;
    }
    .sub-title {
      font-size: $font-size-sm;
    }
    form {
      gap: $spacing-3;
    }
  }
}
