@use 'index' as *;

.task-info-box {
  display: flex;
  flex-direction: column;
  @include section-box;

  /* TITLE */
  &__title {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: $white;
  }

  &__info-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

    /* Description - full width */
    app-form-field-wrapper:first-child {
      grid-column: 1 / -1;
    }
  }

  /* Projected content */
  ::ng-deep > *:last-child {
    margin-top: 16px;
  }

  &__button-wrapper {
    width: 150px;
  }
}
