@use 'colors' as *;
@use 'breakpoints' as *;
@use 'spacing' as *;
@use 'typography' as *;
@use 'borders' as *;

.nav-links {
  display: flex;
  gap: $spacing-5;
  .nav-item {
    text-decoration: none;
    color: $white;
    padding: $spacing-1;

    &.active {
      border-bottom: $border-width-thin solid $primary-color;
    }
  }

  @include respond('xs') {
    position: absolute;
    background-color: $black;
    left: 0;
    top: $header-hight;
    height: 100vh;
    flex-direction: column;
    width: 50%;
    padding: $spacing-1 $spacing-2;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;

    .nav-item {
      padding: $spacing-2;
      border-radius: $border-radius-sm;
      font-size: $font-size-sm;
      font-weight: $font-weight-medium;
      &.active {
        border: none;
        background-color: $primary-color;
        color: $black;
      }
    }

    &.active-sidebar {
      display: flex;
      transform: translateX(0);
    }
  }
}
