@use 'index' as *;

.related-user-box {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @include section-box;

  &__title {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: $white;
  }

  &__user {
    display: flex;
    flex-direction: column;
  }

  &__name {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
  }

  &__action {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  @include respond('xs') {
    padding: $spacing-4;
  }
}
