<div class="day">
  <div class="day__title">
    {{ day | titlecase }}
  </div>

  <div class="day__slots">
    @for (slot of availabilityData?.slots; track $index) {
      <div class="day__slot">
        <div class="times">
          <p class="time">{{ slot.start }}</p>
          <p class="time">-</p>
          <p class="time">{{ slot.end }}</p>
        </div>
        <div class="actions">
          <button mat-icon-button>
            <mat-icon class="material-icons-outlined">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="onRemoveSlot(day, slot)">
            <mat-icon class="material-icons-outlined">delete</mat-icon>
          </button>
        </div>
      </div>
    } @empty {
      <small style="text-align: center; font-style: italic">Empty slots</small>
    }

    <button
      class="day__add-slot"
      (click)="onAddSlot(day)"
      [disabled]="isMaxSlot"
    >
      + Add Slot
    </button>
  </div>
</div>
