@use 'index' as *;
@use 'sass:color';

.day {
  padding: $spacing-2;
  border-radius: $border-radius-sm;
  background: $background;
  min-height: 254px;
  border: $section-border;
  border-radius: $border-radius-md;

  &__title {
    font-weight: $font-weight-medium;
    text-align: center;
    margin-bottom: $spacing-3;
  }

  &__slots {
    display: flex;
    flex-direction: column;
    gap: $spacing-3;
  }

  &__slot {
    padding: $spacing-2;
    background: $box-green;
    border-radius: $border-radius-sm;
    position: relative;
    text-align: center;
    cursor: pointer;

    .time {
      @include center-div;
      font-size: $font-size-sm;
      text-align: center;
    }

    &:hover {
      background-color: color.adjust($box-green, $lightness: 10%);
    }
    &:active {
      background-color: color.adjust($box-green, $lightness: 15%);
    }

    &--disabled {
      background-color: $box-red;
      color: $red;
      &:hover {
        background-color: color.adjust($box-red, $lightness: 10%);
      }
      &:active {
        background-color: color.adjust($box-red, $lightness: 15%);
      }
    }
  }

  &__add-slot {
    margin-top: $spacing-2;
    padding: $spacing-1;
    font-size: 14px;
    border-radius: $border-radius-sm;
    border: $border-width-thin dashed #888;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  @include respond('xs') {
    padding: $spacing-1;
    min-width: 140px;
    padding: $spacing-3;

    &__title {
      font-size: $font-size-sm;
    }
  }
}
