@use 'index' as *;

.day {
  padding: 10px;
  border-radius: 6px;
  background: $background;
  min-height: 490px;
  border: $section-border;
  border-radius: $border-radius-md;
  padding: $spacing-3;

  &__title {
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
  }

  &__slots {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__slot {
    padding: $spacing-2;
    background: $box-green;
    border-radius: 4px;
    position: relative;
    text-align: center;

    .time {
      @include center-div;
      font-size: $font-size-sm;
      text-align: center;
    }

    .actions {
      @include center-div;
      gap: $spacing-3;
      margin-top: $spacing-2;
      button {
        @include center-div;
        border-radius: $border-radius-full;
        padding: $spacing-1;
        border: none;
        cursor: pointer;
        color: $white;
        background-color: rgba(255, 255, 255, 0.268);
      }
    }
  }

  &__add-slot {
    margin-top: 6px;
    padding: 6px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px dashed #888;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
