// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'theme-colors' as theme;

// html {
//   @include mat.theme((
//     color: (
//       theme-type: dark,
//       primary: mat.$azure-palette,
//       tertiary: mat.$blue-palette,
//     ),
//     typography: Roboto,
//     density: 0,
//   ));
// }

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: theme.$primary-palette,
    )
  );
}
