@use 'index' as *;

.signup-layout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - $header-height);

  &__stepper-container {
    width: 50%;
  }

  ::ng-deep .mat-horizontal-stepper-header-container {
    display: none !important;
  }

  &__circle-steps {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $spacing-4;
    margin: $spacing-3 0;
    .circle {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: $disabled;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      transition: all 0.3s ease;
    }
    .active {
      background-color: $primary-color;
      color: $black;
      transform: scale(1.1);
    }
  }

  @include respond('xs') {
    height: fit-content;
    padding: $spacing-4 0;
    h2 {
      font-size: $font-size-lg;
    }

    &__stepper-container {
      width: 90%;
    }
  }
}
