@use 'index' as *;

.signup-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - $header-height);

  &__content-wrapper {
    margin: auto 0;
    @include section-box();
    h2 {
      text-align: center;
    }
  }

  ::ng-deep .mat-horizontal-stepper-header-container {
    display: none !important;
  }

  &__circle-steps {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $spacing-4;
    margin: $spacing-3 0;
    .circle {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: $disabled;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      transition: all 0.3s ease;
    }
    .active {
      background-color: $primary-color;
      color: $black;
      transform: scale(1.1);
    }
  }

  @include respond('xs') {
    padding: $spacing-4 0;

    &__content-wrapper {
      
      width: 90%;
      margin: 0 auto;
      padding: 0;
      h2 {
        text-align: center;
        font-size: $font-size-lg;
      }
    }

    &__stepper-container {
      width: 100%;
      margin: 0 auto;
    }
  }
}
