@use 'index' as *;

.brand {
  padding: $spacing-1 $spacing-0;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: $spacing-2;

  &__icon {
    width: 40px;
    height: 40px;
    background-image: url('/assets/icons/brand-icon.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @include respond('sm') {
      width: 20px;
      height: 20px;
    }
  }

  &__name {
    color: $primary-color;
    font-size: $font-size-xxl;
    font-weight: $font-weight-medium;

    @include respond('sm') {
      font-size: $font-size-md;
    }
  }

  @include respond('sm') {
    gap: $spacing-1;
  }
}
