<div class="home">
  <!-- <h1>Welcome To UrbanTasker</h1> -->
  <!-- test  -->
  <!-- <button (click)="getProtectedData()">Get Protected Data</button> -->

  <!-- hero component  -->
  <app-home-hero></app-home-hero>
  <!-- popular categories component  -->
  <div class="section">
    <app-popular-categories></app-popular-categories>
  </div>
  <!-- how it works component  -->
  <div class="section">
    <app-application-summary></app-application-summary>
  </div>

  <div class="section">
    <app-ready-cta></app-ready-cta>
  </div>
</div>
