@use 'index' as *;
@use 'sass:color';

.btn {
  border: none;
  width: 100%;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  outline: none;
  font-weight: $font-weight-medium;
  font-size: $font-size-sm;
  border-radius: $border-radius-md;

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.8;
    box-shadow: none;
  }

  // large
  &--large {
    padding: $spacing-3 $spacing-4;
    @include respond('xs') {
      padding: $spacing-2 $spacing-3;
    }
  }

  // default size style
  &--medium {
    padding: $spacing-2 $spacing-3;
    @include respond('xs') {
      padding: $spacing-1 $spacing-2;
    }
  }

  &--small {
    padding: $spacing-1 $spacing-2;
    @include respond('xs') {
      padding: $spacing-1;
    }
  }

  // default color style
  /*  Primary Button */
  &--primary {
    background-color: $primary-color;
    color: $black;

    &:hover:not(:disabled) {
      background-color: $primary-color-hover;
    }

    &:active:not(:disabled) {
      background-color: $primary-color-active;
    }

    &:disabled {
      background-color: color.adjust($primary-color, $lightness: 15%);
      color: color.adjust($black, $lightness: 20%);
      cursor: not-allowed;
      pointer-events: none;
    }
  }
  /*  Secondary Button */
  &--secondary {
    background-color: $secondary-color;
    color: $black;

    &:hover:not(:disabled) {
      background-color: $secondary-color-hover;
    }

    &:disabled,
    &.disabled {
      background-color: color.adjust($primary-color, $lightness: 45%);
      color: color.adjust($black, $lightness: 20%);
      cursor: not-allowed;
      pointer-events: none;
    }
  }

  /* Red color danger button */
  &--danger {
    background-color: $red;
    color: $black;
    color: $white;

    &:hover:not(:disabled) {
      background-color: $red-hover;
    }
  }

  @include respond('xs') {
    font-size: $font-size-xs;
  }
}
