<form [formGroup]="otpForm" class="otp-form" (ngSubmit)="submitOtp()">
  <p class="sub-txt">Enter the OTP send to your email address</p>
  <div class="otp-input">
    <p class="sub-txt">Remaining time: {{ timeLeft() }}</p>
    <ng-otp-input
      #otpInputRef
      [config]="otpConfig"
      (onInputChange)="onOtpChange($event)"
    ></ng-otp-input>
    @if (isSubmitted) {
      @if (otpForm.get('otp')?.errors) {
        <small class="error">Please enter a valid 4-digit OTP</small>
      }
    }
  </div>
  <div class="btns">
    <app-button
      variant="secondary"
      (clickEvent)="resendOtp()"
      [disabled]="timeLeft() > 0"
    >
      @if (!isResendLoading()) {
        Resend OTP
      } @else {
        <mat-spinner diameter="20" class="btn-spinner"></mat-spinner>
      }
    </app-button>
    <app-button variant="primary" type="submit">
      @if (!isLoading()) {
        Verify Email
      } @else {
        <mat-spinner diameter="20" class="btn-spinner"></mat-spinner>
      }
    </app-button>
  </div>
</form>
