@use 'colors' as *;
@use 'breakpoints' as *;
@use 'spacing' as *;
@use 'variables' as *;
@use 'typography' as *;
@use 'borders' as *;

.otp-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-4;
  padding: $spacing-7;

  @include respond('xs') {
    gap: $spacing-3;
    padding: $spacing-5;
  }

  .otp-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $spacing-3;
    @include respond('xs') {
      gap: $spacing-1;
    }
  }

  .sub-txt {
    @include respond('xs') {
      font-size: $font-size-sm;
    }
  }

  .error {
    color: $red;
    font-size: $font-size-sm;
    @include respond('xs') {
      font-size: $font-size-xs;
    }
  }

  ::ng-deep .ng-otp-input {
    width: 50px;
    height: 50px;
    border: $border-width-thin solid $disabled; // green border
    background-color: $inputs; // black inside
    color: $primary-color; // yellow text
    border-radius: $border-radius-sm;
    font-size: $font-size-lg;
    font-weight: $font-weight-medium;
    text-align: center;
    &:focus {
      border-color: $primary-color; // orange border on focus
    }
    @include respond('xs') {
      width: 45px;
      height: 45px;
      margin: $spacing-1 !important;
    }
  }

  .btns {
    display: flex;
    gap: $spacing-3;
  }
}
