@use 'colors' as *;
@use 'breakpoints' as *;
@use 'spacing' as *;
@use 'typography' as *;
@use 'borders' as *;

.otp-form {
  display: flex;
  flex-direction: column;
  gap: $spacing-8;
  padding-top: $spacing-8;
}
