<div class="tasker-availbility">
  <app-page-title title="Availabilty" description="Set your weekly availabilty">
  </app-page-title>

  <div class="tasker-availbility__main-content">
    <div class="tasker-availbility__toolbar">
      <app-button-loading
        text="Add Defaults"
        (isClicked)="addDefault()"
      ></app-button-loading>
    </div>

    <div class="week">
      <app-day-column
        *ngFor="let day of weekDays; let i = index"
        [day]="day"
        [availabilityData]="getOneAvailability(day)"
        (addSlot)="addSlot($event)"
        (removeSlot)="removeSlot($event.day, $event.slot)"
      ></app-day-column>
    </div>
  </div>
</div>
