@use 'index' as *;

.list-booked-tasks {
  display: flex;
  flex-direction: column;
  gap: $spacing-4;
  width: 80%;
  margin: 0 auto;

  &__filter {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-2;
    margin-bottom: 20px;
  }

  &__filter-btn {
    padding: 8px 14px;
    border-radius: 20px;
    border: 1px solid #dcdcdc;
    background-color: $background;
    font-size: 14px;
    cursor: pointer;
    color: #dcdcdc;
    transition: all 0.2s ease;

    &:hover {
      color: $black;
      background-color: $primary-color-hover;
    }

    &--active {
      background-color: $primary-color-active;
      color: $black;
      border-color: #000;
    }
  }

  // listing
  &__list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px;
    background-color: $background;
    border: 1px solid $background-division;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  }

  &__card-left {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  &__image {
    width: 80px;
    height: 60px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #eee;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__category {
    font-size: 15px;
    font-weight: 600;
    color: $white;
  }

  &__tasker {
    font-size: 13px;
    color: $background-text;
  }

  &__datetime {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: $background-text;
    gap: 6px;
  }

  &__dot {
    font-size: 10px;
  }

  &__card-right {
    display: flex;
    gap: 10px;
  }

  @include respond('xs') {
    width: 100%;
    &__filter-btn {
      padding: $spacing-2 14px;
      font-size: $font-size-sm;
      white-space: nowrap;
    }
  }
}
