@use 'index' as *;

.table-filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .search-form {
    form {
      display: flex;
      align-items: center;
      background-color: $inputs;
      border: $input-border;
      border-radius: $border-radius-sm;
      padding: $spacing-1 $spacing-2;
      transition: all 0.2s ease-in-out;

      .search-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $background-text;
        margin-right: $spacing-2;
        font-size: $font-size-lg;
      }

      input[type='text'] {
        border: none;
        outline: none;
        color: $white;
        background: transparent;
        font-size: $font-size-sm;
        width: 220px;
        padding: $spacing-1 $spacing-2;

        &::placeholder {
          color: $background-text;
        }
      }

      &:focus-within {
        border: $input-border-hover;
      }
    }
  }
}
