<div class="view-category">
  <!-- title  -->
  <app-admin-page-title [title]="categoryData().name || 'Category Details'">
    <app-back-button></app-back-button>
  </app-admin-page-title>
  <!-- category details card  -->
  <app-category-details-card
    [categoryData]="categoryData()"
    (changeActiveStatus)="changeCategoryStatus($event)"
    (deleteClicked)="onDeleteClick()"
  ></app-category-details-card>

  <!-- subcategories listing table  -->
  <div class="sub-categories">
    <app-admin-page-title title="Sub categories">
      <app-button size="small" (clickEvent)="onAddSubCategory()"
        >Add Sub-Category</app-button
      >
    </app-admin-page-title>

    <!-- sub categories in table  -->
    <app-table-listing
      [dataSource]="subcategories"
      [columns]="subcategoryColumns"
    ></app-table-listing>
    <app-pagination [paginationData]="pagination()"></app-pagination>
  </div>
</div>
