<div class="login-container">
  <div class="login-container__login-form">
    <h2>Login</h2>

    <app-login-form
      (login)="onLogin($event)"
      [isLoading]="isLoading"
    ></app-login-form>

    <div class="login-container__login-option">
      <!-- use diffent button here-->
      <button type="button" class="google-btn" (click)="googleLoginClicked()">
        Login with Google
      </button>
    </div>

    <div class="login-container__nav-option">
      <small
        ><a (click)="navigateForgotPassword()" role="button" tabindex="0"
          >Forgot Password ?</a
        ></small
      >
      <small
        >Don't have an account?
        <a (click)="navigateSignup()" role="button" tabindex="0"
          >Signup</a
        ></small
      >
    </div>
  </div>
</div>
