<div class="login-container">
  <div class="login-container__login-form">
    <h2>Login</h2>

    <app-login-form
      (login)="onLogin($event)"
      [isLoading]="isLoading"
    ></app-login-form>

    <div class="auth-divider">
      <span class="auth-divider__line"></span>
      <span class="auth-divider__text">OR</span>
      <span class="auth-divider__line"></span>
    </div>

    <div class="login-container__login-option">
      <!-- use diffent button here-->
      <button type="button" class="google-btn" (click)="googleLoginClicked()">
        <img
          src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg"
          alt="Google"
          class="google-btn__icon"
        />

        <span>Continue with Google</span>
      </button>
    </div>

    <div class="login-container__nav-option">
      <small
        ><a (click)="navigateForgotPassword()" role="button" tabindex="0"
          >Forgot Password ?</a
        ></small
      >
      <small
        >Don't have an account?
        <a (click)="navigateSignup()" role="button" tabindex="0"
          >Signup</a
        ></small
      >
    </div>
  </div>

  <div class="login-container__demo">
    <app-demo-platform-login
      (login)="onLogin($event)"
    ></app-demo-platform-login>
  </div>
</div>
