$primary-color: #e1b711;
$primary-color-hover: #be9800;
$primary-color-active: #a28200;
$secondary-color: #7e7e7e;
$secondary-color-hover: #676767;
$secondary-color-active: #6f6f6f;

// $secondary-color: #1;
// $secondary-color-hover: #a51118;

$background: #F8F8F5;
$background-hover: #f5f1e8;
$background-active: #ffffd6;
$background-division: #c9c9c9; // #49411f;
$background-text: #5c5c5c;
$modal-background: #f5f1e8;
$modal-background-text: #231f0f;
$white: #ffffff;
$black: #000000;
$black-hover: rgb(54, 54, 54);
$red: #bb0900;
$red-hover: #ce0a00;
$disabled: #7e7e7e;
$inputs: #dcdcdc;
$success-green: #008000;
$box-green: #233f1f;
$box-red: #4c261a;
