@use 'colors' as *;
@use 'spacing' as *;
@use '../base' as *;

// specific
$header-height-sm: $spacing-8;
$header-height: $spacing-10;

$input-border: $border-width-thin solid $background-text;
$input-border-hover: $border-width-thin solid $primary-color-active;

$section-border: $border-width-thin solid $background-division;
