<div class="image-upload-field">
  <div
    class="image-upload-field__image-upload"
    [ngClass]="showError ? 'error-input' : ''"
    (click)="trigerFileInput(fileInput)"
    (keydown.enter)="trigerFileInput(fileInput)"
    (keydown.space)="trigerFileInput(fileInput)"
    tabindex="0"
    role="button"
  >
    <input
      #fileInput
      type="file"
      accept="image/*"
      (change)="selectImage($event)"
      [disabled]="disabled"
      hidden
    />

    @if (imageUrl()) {
      <img
        [src]="imageUrl()"
        alt="Preview"
        class="image-upload-field__preview-image"
      />
    } @else {
      <div class="image-upload-field__placeholder">
        <mat-icon
          class="upload-icon material-icons-outlined"
          fontIcon="cloud_upload"
        ></mat-icon>
        <p>Add image</p>
        <small>Maximum {{ maxSizeInMB }} MB</small>
      </div>
    }
  </div>

  @if (showError) {
    <small class="image-upload-field__error">{{ errorMessage }}</small>
  }
</div>
