@use 'colors' as *;
@use 'breakpoints' as *;
@use 'spacing' as *;
@use 'typography' as *;
@use 'borders' as *;

.password-form {
  display: flex;
  flex-direction: column;
  gap: $spacing-8;
  padding-top: $spacing-8;
  .error {
    color: $red;
    font-size: $font-size-sm;
  }
  @include respond('xs') {
    gap: $spacing-6;
    padding-top: $spacing-5;
  }
}
