@use '@angular/material' as mat;
@use 'index' as *;

.complaint-loading {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  &__spinner {
    @include mat.progress-spinner-overrides(
      (
        active-indicator-color: $primary-color,
      )
    );
  }
}
