<header class="app-header container">
  <div class="app-header__left-section">
    <mat-icon
      class="material-icons-outlined menu-option"
      (click)="toggleSidePannel()"
    >
      {{ isSidebarOpen() ? 'close' : 'menu' }}
    </mat-icon>
    <app-brand></app-brand>
  </div>
  <app-nav-links [links]="links()"></app-nav-links>
  <div class="app-header__right-section">
    <!-- button  -->
    @if (currentUser()?.userRole === userRoles.TASKER) {
      <app-button (clickEvent)="navigateTaskerDashboard()"
        >View Tasker Dashboard</app-button
      >
    } @else if (
      currentUser()?.email && currentUser()?.userRole !== userRoles.TASKER
    ) {
      <app-button variant="primary" (clickEvent)="bookTaskerClicked()"
        >Book a Tasker</app-button
      >
    }

    <!-- user options  -->
    <div class="user-options">
      @if (_authGuardService.currentUser()?.email) {
        <app-notification (isnoficationClicked)="openNotifications()" />
        <app-user-profile-circle
          (logout)="onUserLogout()"
          (clickProfile)="navigateProfile()"
          [imageUrl]="currentUser()?.profileImageUrl || ''"
        />
      } @else {
        <app-button
          [variant]="isLoginPage ? 'secondary' : 'primary'"
          (clickEvent)="goToLogin()"
          >Login</app-button
        >
        <app-button
          [variant]="isLoginPage ? 'primary' : 'secondary'"
          (clickEvent)="goToSignup()"
          >Signup</app-button
        >
      }
    </div>
  </div>
</header>
