<div class="video-call">
  <!-- Caller / Local user -->
  <div class="video-call__panel video-call__panel--caller">
    <video
      #localVideo
      autoplay
      playsinline
      [muted]="true"
      class="video-call__video"
    ></video>
    <div class="video-call__label">You</div>
  </div>

  <!-- Callee / Remote user -->
  <div class="video-call__panel video-call__panel--callee">
    <video #remoteVideo autoplay playsinline class="video-call__video"></video>
    <div class="video-call__label">Incoming User</div>
  </div>

  <app-button (clickEvent)="startCall()">Start call</app-button>
  <app-button (clickEvent)="hangup()">Cut Call</app-button>
</div>
