@use "variables" as *;
@use "breakpoints" as *;
@use "spacing" as *;
@use "typography" as *;
@use "borders" as *;

.user-profile {
  width: 40px;
  height: 40px;
  border-radius: $border-radius-full;
  overflow: hidden;
  cursor: pointer;
  border: $border-width-medium solid $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.03);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include respond("xs") {
    width: 30px;
    height: 30px;
  }
}
