@use 'index' as *;
@use 'sass:color';

.update-status-dialog {
  padding: 1rem;
  // background-color: $background-hover;
  overflow: hidden;
  background-color: wheat;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__title {
    margin: 0;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 600;
  }

  &__close-btn {
    background-color: $background-hover;
    border-radius: 100%;
    padding: $spacing-1;
    border: none;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;
    mat-icon {
      margin: auto;
      height: fit-content;
    }
    &:hover {
      background-color: color.adjust($background, $lightness: 10%);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__radio-group {
    display: flex;
    flex-direction: column;
  }

  &__radio {
    color: #000;
    margin-bottom: 0.5rem;
  }

  &__feedback {
    width: 100%;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1.5rem;
  }
}
