<div class="chat">
  <!-- Left: User List -->
  <aside
    class="chat__sidebar"
    [ngClass]="{ 'closed-sidbar': currentChatUser() }"
  >
    <div class="chat__sidebar-header">
      <h3 class="chat__title">Chats</h3>
    </div>

    <ul class="chat__user-list">
      @for (item of chatUsers(); track $index) {
        <li
          class="chat__user"
          [ngClass]="{
            'chat__user--active': item.partner.id === currentChatUser()?.id,
          }"
          (click)="joinChat(item)"
          tabindex="0"
          role="button"
        >
          <img
            [src]="item.partner.image || 'assets/defaults/default-user.png'"
            alt="User"
            class="chat__user-avatar"
          />
          <span class="chat__user-name">{{ item.partner.name }}</span>
        </li>
      }
    </ul>
  </aside>

  <!-- Right: Chat Window -->
  <section
    class="chat__window"
    [ngClass]="{ 'closed-chat-widnow': !currentChatUser() }"
  >
    @if (currentChatUser()) {
      <app-chat-box
        (closeChat)="onCloseChat()"
        [currentUserId]="currentChatUser()!.id"
        [currentUser]="currentChatUser"
        [isMobileScreen]="isMobile"
      ></app-chat-box>
    } @else {
      <app-empty-chat-box></app-empty-chat-box>
    }
  </section>
</div>
