@use 'index' as *;

.user-profile {
  margin: $spacing-6 auto;
  padding: $spacing-1 $spacing-8;
  &__profile-data-wrapper {
    margin-top: $spacing-2;
    display: flex;
    justify-content: space-between;
    gap: $spacing-4;
    @include section-box;
  }

  &__left-section {
    width: 20%;
  }

  &__right-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: $spacing-2;
  }

  &__profile-picture {
    display: flex;
    flex-direction: column;
    gap: $spacing-2;
    align-items: center;
    margin-bottom: $spacing-4;

    .picture-box {
      height: 150px;
      width: 150px;
      overflow: hidden;
      border-radius: $border-radius-full;
      border: $section-border;
      position: relative;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .picture-change {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
    }
  }

  &__password-actions {
    padding: $spacing-2;
    @include center-div;
  }

  &__data-box {
    display: flex;
    flex-direction: column;
    gap: $spacing-2;
  }

  &__box-title {
    margin: $spacing-2 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .edit-button {
    background-color: $primary-color;
  }

  @include respond('xs') {
    padding: $spacing-1 $spacing-4;

    &__profile-data-wrapper {
      flex-direction: column;
      gap: $spacing-2;
      padding: $spacing-2;
    }

    &__left-section {
      width: 100%;
    }

    &__right-section {
      width: 100%;
    }

    &__profile-picture {
      gap: $spacing-1;
      margin-bottom: $spacing-2;

      .picture-box {
        height: 100px;
        width: 100px;
      }
    }

    .edit-button {
      padding: $spacing-1;
      width: 32px;
      height: 32px;
      mat-icon {
        font-size: $font-size-md;
      }
    }
  }
}
