<div class="password-settings">
  <div class="password-settings__container">
    <!-- Header -->
    <div class="password-settings__header">
      <h2 class="password-settings__title">Change Password</h2>
      <app-back-button></app-back-button>
    </div>

    <!-- Form -->
    <form
      class="password-settings__form"
      [formGroup]="passwordForm"
      (ngSubmit)="onSubmit()"
    >
      <!-- Old Password -->
      <div class="password-settings__field">
        <app-form-field
          label="Old Password"
          type="password"
          id="oldPassword"
          placeholder="Enter old password"
          formControlName="oldPassword"
        ></app-form-field>
      </div>

      <!-- New Password Group -->
      <div class="password-settings__field" formGroupName="newPasswordGroup">
        <!-- New Password -->
        <app-form-field
          label="New Password"
          type="password"
          id="password"
          placeholder="Enter new password"
          formControlName="password"
        ></app-form-field>

        <!-- Confirm Password -->
        <div>
          <app-form-field
            label="Confirm Password"
            type="password"
            id="confirmPassword"
            placeholder="Re-enter new password"
            formControlName="confirmPassword"
          ></app-form-field>

          @if (newPasswordError) {
            <div class="error-text">
              <small>{{ newPasswordError }}</small>
            </div>
          }
        </div>
      </div>

      <!-- Submit -->
      <div class="password-settings__actions">
        <app-button-loading
          text="Update Password"
          type="submit"
          [isLoading]="isLoading"
        ></app-button-loading>
      </div>
    </form>
  </div>
</div>
