<div class="dropdown" [ngClass]="size ? `dropdown--${size}` : ''">
  <div
    class="dropdown__main"
    (click)="toggleOption()"
    (keydown.active)="toggleOption()"
    tabindex="0"
  >
    <span>{{ selected ? selected.label : text }}</span>

    <mat-icon fontSet="material-icons-outlined">{{
      isOpen() ? 'keyboard_arrow_up' : 'keyboard_arrow_down'
    }}</mat-icon>
  </div>
  <div
    class="dropdown__options"
    [ngClass]="isOpen() ? 'dropdown__options--active' : ''"
  >
    <ul>
      @for (item of options(); track $index) {
        <li
          (click)="selectOption(item)"
          (keydown.active)="selectOption(item)"
          tabindex="0"
        >
          {{ item.label }}
        </li>
      }
    </ul>
  </div>
</div>
@if (showError) {
  <div class="error-text">
    <small>{{ errorMessage }}</small>
  </div>
}
