@use 'index' as *;

.wallet {
  min-height: calc(100vh - $header-height);

  &__contents-wrapper {
    padding: $spacing-6 0;
    display: flex;
    flex-direction: column;
    gap: $spacing-4;
    margin: 0 auto;
  }

  &__history {
    .sub-title {
      font-size: $font-size-lg;
      text-transform: capitalize;
      margin: $spacing-4 0;
    }
  }
}
