@use '@angular/material' as mat;
@use 'index' as *;

.pagination-container {
  display: flex;
  align-items: center;
  gap: $spacing-3;
  justify-content: center;
  margin: $spacing-4 0;

  &__nav-btn {
    border: none;
    font-size: 0.9rem;
    border-radius: 5px;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.2s ease;
    border: 1px solid $background-division;

    &:hover:not(:disabled) {
      background-color: $primary-color-hover;
    }

    &:disabled {
      color: $disabled;
      cursor: not-allowed;
    }
  }

  &__page-info {
    font-size: $font-size-md;
    font-weight: $font-weight-medium;
    color: $background-text;
  }

  @include respond('xs') {
    &__page-info {
      font-size: $font-size-sm;
    }
  }
}

.pagination-container__nav-btn {
  @include mat.fab-overrides((
    container-color: orange,
    container-elevation-shadow: -4px -4px 5px 0px rgba(0, 0, 0, 0.5),
  ));
}