@if (totalItems > 0) {
  <div class="pagination-container">
    <button
      class="pagination-container__nav-btn"
      (click)="goPrev()"
      [disabled]="isPrevDisabled"
      mat-icon-button
    >
      <mat-icon class="material-icons-outlined">arrow_back_ios</mat-icon>
    </button>

    <span class="pagination-container__page-info">
      Page {{ currentpage }} of {{ totalPages }}
    </span>

    <button
      class="pagination-container__nav-btn"
      (click)="goNext()"
      [disabled]="isNextDisabled"
      mat-icon-button
    >
      <mat-icon class="material-icons-outlined">arrow_forward_ios</mat-icon>
    </button>
  </div>
}
