@use 'index' as *;

.pagination-container {
  display: flex;
  align-items: center;
  gap: $spacing-3;
  justify-content: center;
  margin: $spacing-4 0;

  &__nav-btn {
    padding: $spacing-2 $spacing-4;
    border: none;
    background-color: $primary-color;
    color: $black;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover:not(:disabled) {
      background-color: $primary-color-hover;
    }

    &:disabled {
      background-color: $disabled;
      cursor: not-allowed;
    }
  }

  &__page-info {
    font-size: $font-size-md;
    font-weight: $font-weight-medium;
    color: $white;
  }

  @include respond('xs') {
    &__page-info {
      font-size: $font-size-sm;
    }
  }
}
