<div class="forgot-password">
  <div class="forgot-form-wrapper">
    <h2 class="title">Forgot Password ?</h2>
    <p class="sub-title">Enter your email to reset password</p>
    <!-- form  -->
    <form [formGroup]="forgotForm" (ngSubmit)="onForgotFormSubmit()">
      <app-form-field
        formControlName="email"
        label="Email"
        type="email"
        id="email"
        placeholder="Enter your email"
      ></app-form-field>

      <app-button [disabled]="isLoading()" class="btn" type="submit" variant="primary">
        @if (!isLoading()) {
          Send reset link
        } @else {
          <mat-spinner diameter="20" class="btn-spinner"></mat-spinner>
        }
      </app-button>
    </form>
  </div>
</div>
