<div class="forgot-password">
  <div class="forgot-form-wrapper">
    <h2 class="title">Forgot Password ?</h2>
    <p class="sub-title">Enter your email to reset password</p>
    <!-- form  -->
    <form [formGroup]="resetForm" (ngSubmit)="onResetFormSubmit()">
      <app-form-field
        formControlName="email"
        label="Email"
        type="email"
        id="email"
        placeholder="Enter your email"
      ></app-form-field>

      <app-button class="btn" type="submit" variant="primary"
        >Send reset link</app-button
      >
    </form>
  </div>
</div>
