@use 'index' as *;

.forgot-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - $header-height);

  &__form-wrapper {
    display: flex;
    flex-direction: column;
    gap: $spacing-4;
    padding: $spacing-2;
    width: 80%;
    max-width: 400px;
  }

  &__title,
  &__sub-title {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: $spacing-4;
  }

  @include respond('xs') {
    &__form-wrapper {
      gap: $spacing-3;
      padding: $spacing-1;
    }
    &__title {
      font-size: $font-size-lg;
    }
    &__sub-title {
      font-size: $font-size-sm;
    }
    form {
      gap: $spacing-3;
    }
  }
}
