@use 'index' as *;

.page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {
    h2 {
      font-size: $font-size-xl;
      font-weight: $font-weight-medium;
      color: $white;
    }
    p {
      font-size: $font-size-md;
    }
  }

  @include respond('xs') {
    &__title {
      h2 {
        font-size: $font-size-md;
      }
      p {
        font-size: $font-size-xs;
      }
    }
  }
}
