@use 'index' as *;

.add-portfolio {
  padding: $spacing-4 $spacing-6;
  display: flex;
  flex-direction: column;
  gap: $spacing-4;
  color: $black;

  &__head {
    position: relative;
    text-align: center;

    p {
      font-size: $font-size-lg;
      font-weight: 700;
    }
  }

  &__body {
    width: 100%;
    margin: 0 auto;

    form {
      display: flex;
      flex-direction: column;
      gap: $spacing-6;
    }

    .image {
      margin: 0 auto;
    }

    .actions {
      display: flex;
      gap: $spacing-2;

      app-button,
      app-button-loading {
        flex: 1;
      }
    }
  }
}
