@use 'index' as *;

.password-form {
  display: flex;
  flex-direction: column;
  gap: $spacing-8;
  padding-top: $spacing-8;

  &__sub-title {
    font-size: $font-size-md;
  }

  &__error-text {
    color: $red;
    font-size: $font-size-sm;
  }

  @include respond('xs') {
    gap: $spacing-6;
    padding-top: $spacing-5;
  }
}
