<form [formGroup]="passwordForm" class="password-form">
  <p class="sub-title">Provide a strong password</p>

  <div class="pasword-inputs">
    <app-form-field
      formControlName="password"
      label="Password"
      type="password"
      id="password"
      placeholder="Enter your Password"
    ></app-form-field>
    <app-form-field
      formControlName="confirmPassword"
      label="Confirm Password"
      type="password"
      id="confirmPassword"
      placeholder="Confirm your Password"
    ></app-form-field>
    @if (passwordForm.errors?.['customError'] && passwordForm.touched) {
      <div class="error">
        <small>{{ passwordForm.errors?.['customError'] }}</small>
      </div>
    }
  </div>

  <div>
    <app-button
      variant="primary"
      type="submit"
      [disabled]="isLoading()"
      (clickEvent)="submitPasswordForm()"
    >
      @if (!isLoading()) {
        Submit
      } @else {
        <mat-spinner diameter="20" class="btn-spinner"></mat-spinner>
      }
    </app-button>
  </div>
</form>
