@use 'index' as *;

.reports {
  display: flex;
  flex-direction: column;
  gap: $spacing-4;

  .reports-summary {
    display: flex;
    gap: $spacing-2;
    justify-content: space-evenly;
    flex-wrap: wrap;

    &__item {
      width: 200px;
      max-width: 300px;
      background-color: #d5d1c6;
      border-radius: 12px;
      padding: 1rem 1.25rem;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
      @include center-div;
      flex-direction: column;
      text-align: center;
    }

    &__label {
      display: block;
      font-size: 0.875rem;
      color: #000000;
      margin-bottom: 0.5rem;
    }

    &__value {
      font-size: 1.375rem;
      font-weight: 600;
      color: #111827;
    }
  }

  &__section {
    @include section-box;
  }

  &__section-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-size: $font-size-lg;
    }
  }

  &__section-title {
    font-size: $font-size-xl-sm;
    line-height: $line-height-lg;
    padding-bottom: $spacing-2;
  }

  .bookings-summery {
    &__group-by {
      display: flex;
      align-items: center;
      gap: $spacing-2;
    }
  }

  @include respond('xs') {
    .reports-summary {
      &__item {
        width: 100px;
        padding: $spacing-2 $spacing-4;
      }

      &__label {
        font-size: $font-size-xs;
        margin-bottom: 0;
      }

      &__value {
        font-size: $font-size-sm;
      }
    }
  }
}
