@use 'colors' as *;
@use 'breakpoints' as *;
@use 'spacing' as *;
@use 'typography' as *;
@use 'borders' as *;

.singup-layout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - $header-hight);

  .stepper-container {
    width: 50%;
  }

  ::ng-deep .mat-horizontal-stepper-header-container {
    display: none !important;
  }

  // .mat-horizontal-stepper{
  //     border: 1px solid red;
  //     width: 80%;
  // }

  .circle-steps {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: $spacing-3 0;
    .circle {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: $disabled;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      transition: all 0.3s ease;
    }
    .active {
      background-color: $primary-color;
      color: $black;
      transform: scale(1.1);
    }
  }
}
