<div class="singup-layout">
  <h2>Signup</h2>
  <div class="stepper-container">
    <!-- indicators  -->
    @if (stepper) {
      <div class="circle-steps">
        @for (step of stepper.steps; track step; let i = $index) {
          <div class="circle" [class.active]="stepper.selectedIndex === i">
            {{ i + 1 }}
          </div>
        }
      </div>
    }

    <mat-horizontal-stepper [linear]="true" #stepper>
      <!-- Step 1: Basic Info -->
      <mat-step>
        <app-signup-form (nextStep)="stepper.next()"></app-signup-form>
      </mat-step>

      <!-- Step 2: OTP Verification -->
      <mat-step>
        <app-otp-varify (nextStep)="stepper.next()"></app-otp-varify>
      </mat-step>

      <!-- Step 3: Password -->
      <mat-step>
        <app-password-form></app-password-form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
