<div class="tasker-portfolio">
  <div class="tasker-portfolio__head">
    <p class="title">My Works</p>
    <app-button size="small"
      ><mat-icon class="material-icons-outlined">add</mat-icon>
    </app-button>
  </div>

  <div class="tasker-portfolio__data">
    <div class="tasker-portfolio__gallery">
      @for (image of gallaryImages(); track $index) {
        <div class="tasker-portfolio__image-wrapper">
          <img
            class="tasker-portfolio__image"
            [src]="image"
            alt="Tasker work image"
            loading="lazy"
          />
        </div>
      }
    </div>
  </div>
</div>
