<div class="choose-tasker">
  <app-page-title title="Choose a Tasker"></app-page-title>

  <!-- filter strip  -->
  <div class="choose-tasker__filters">
    <form
      [formGroup]="chooseTaskerForm"
      (ngSubmit)="onchooseTaskerFormSubmit()"
    >
      <!-- city  -->
      <app-dropdown-field label="City" class="custom-field">
        <app-dropdown [options]="cities" formControlName="city"></app-dropdown>
        @if (cityError) {
          <mat-error>
            <small>{{ cityError }}</small>
          </mat-error>
        }
      </app-dropdown-field>

      <!-- location  -->
      <div class="location custom-field">
        <app-form-field-wrapper label="Location">
          <app-button-loading
            [text]="locationChoosen ? 'Selected' : 'Add location'"
            [variant]="locationChoosen ? 'success' : 'secondary'"
            (isClicked)="onLocationChoose()"
          ></app-button-loading>
        </app-form-field-wrapper>
        @if (locationError) {
          <mat-error>
            <small>{{ locationError }}</small>
          </mat-error>
        }
      </div>

      <!-- date  -->
      <app-form-field-wrapper label="Prefred Date">
        <mat-form-field appearance="outline" class="control">
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="DD / MM / YYYY"
            formControlName="date"
          />

          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
            class="toggle"
          ></mat-datepicker-toggle>

          <mat-datepicker #picker></mat-datepicker>
          @if (dateError) {
            <mat-error>
              <small>{{ dateError }}</small>
            </mat-error>
          }
        </mat-form-field>
      </app-form-field-wrapper>

      <!-- time  -->
      <app-form-field-wrapper label="Arrival Time">
        <mat-form-field appearance="outline" class="control">
          <input
            matInput
            [matTimepicker]="time"
            formControlName="time"
            placeholder="HH:MM"
          />
          <mat-timepicker-toggle matIconSuffix></mat-timepicker-toggle>
          <mat-timepicker #time></mat-timepicker>

          @if (timeError) {
            <mat-error>
              <small>{{ timeError }}</small>
            </mat-error>
          }
        </mat-form-field>
      </app-form-field-wrapper>

      <!-- search button  -->
      <app-button-loading
        text="View Taskers"
        type="submit"
      ></app-button-loading>
    </form>
  </div>

  <div class="choose-tasker__result-count">
    @if (isSubmitted() && chooseTaskerForm.valid) {
      <p>{{ paginationData().total || 0 }} Taskers available</p>
    }
  </div>

  <!-- taskers listing section  -->
  <div class="choose-tasker__content-wrapper">
    <!-- taskers listing  -->
    @if (availableTaskers() && availableTaskers().length) {
      <div class="choose-tasker__taskers-listing-wrapper">
        @for (tasker of availableTaskers(); track $index) {
          <app-tasker-listing-card
            [taskerData]="tasker"
            (chooseTasker)="chooseTasker($event.taskerId)"
          ></app-tasker-listing-card>
        }
      </div>
      <div class="pagination">
        <app-pagination
          [paginationData]="paginationData()"
          (pageChange)="onTaskerPageChange($event)"
        ></app-pagination>
      </div>
    }

    <div class="choose-tasker__actions">
      <app-button type="button" variant="secondary" (clickEvent)="onPrev()"
        >← Edit Task Details</app-button
      >
    </div>
  </div>
</div>
