@use 'index' as *;

.choose-tasker {
  width: 70%;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - $header-height);

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    gap: $spacing-3;
    margin-top: $spacing-3;
  }

  &__taskers-listing-wrapper {
    display: flex;
    flex-direction: column;
    gap: $spacing-3;
  }

  // actions
  &__actions {
    display: flex;
    gap: $spacing-3;
    margin-top: $spacing-3;
    justify-content: space-between;
  }
}
