<div class="booking-details">
  <app-page-title title="Task Details"></app-page-title>

  @if (bookingDetails()) {
    <div class="booking-details__wrapper">
      <!-- LEFT SIDE -->
      <div class="booking-details__left">
        <!-- Task Status -->
        <div class="booking-details__task-status section-box">
          <div class="booking-details__task-status-header">
            <h4 class="booking-details__task-status-title">Task Status</h4>

            <span
              class="booking-details__task-status-chip booking-details__task-status-chip--active"
            >
              {{ bookingDetails()?.taskStatus }}
            </span>
          </div>

          <div class="booking-details__task-status-control">
            <p>Current status</p>
            <app-dropdown [options]="statusOptions"></app-dropdown>
          </div>
        </div>

        <!-- Task Details -->
        <div class="booking-details__task-info section-box">
          <div class="booking-details__task-info-description">
            {{ bookingDetails()?.description }}
          </div>

          <div class="booking-details__task-info-item">
            <span class="booking-details__task-info-label">City</span>
            <span class="booking-details__task-info-value">{{
              bookingDetails()?.city | titlecase
            }}</span>
          </div>

          <div class="booking-details__task-info-item">
            <span class="booking-details__task-info-label">Task Size</span>
            <span class="booking-details__task-info-value">{{
              bookingDetails()?.taskStatus | titlecase
            }}</span>
          </div>

          <div class="booking-details__task-info-item">
            <span class="booking-details__task-info-label">Category</span>
            <span class="booking-details__task-info-value">{{
              bookingDetails()?.categoryName
            }}</span>
          </div>

          <!-- <div class="booking-details__task-info-item">
            <span class="booking-details__task-info-label">Location</span>
            <span class="booking-details__task-info-value">Indiranagar</span>
          </div> -->
        </div>
      </div>

      <!-- RIGHT SIDE -->
      <div class="booking-details__right">
        <!-- Tasker Details -->
        <div class="tasker-details section-box">
          <div class="tasker-details__info">
            <p class="tasker-details__name">
              {{ bookingDetails()?.taskerFirstName }}
              {{ bookingDetails()?.taskerLastName }}
            </p>
            <span class="tasker-details__role">Tasker</span>
          </div>

          <app-button-loading
            text="Chat"
            (isClicked)="onChatWithTaskerClick()"
            [isLoading]="isChatLoading"
          ></app-button-loading>
        </div>

        <!-- Timings -->
        <div class="timings section-box">
          <div class="timings__row">
            <span class="timings__label">Start Time</span>
            <span class="timings__value">10:00 AM</span>
          </div>

          <div class="timings__row">
            <span class="timings__label">End Time</span>
            <span class="timings__value">01:00 PM</span>
          </div>

          <div class="timings__row">
            <span class="timings__label">Date</span>
            <span class="timings__value">{{
              bookingDetails()?.date | date
            }}</span>
          </div>
        </div>

        <!-- Payment -->
        <div class="payment section-box">
          <div class="payment__row">
            <span>Total Amount</span>
            <span class="payment__total">₹1,200</span>
          </div>
        </div>
      </div>
    </div>
  }
</div>
