@use 'index' as *;

.booking-details {
  &__wrapper {
    margin-top: $spacing-2;
    display: flex;
    gap: $spacing-2;
    align-items: flex-start;
  }

  &__left,
  &__right {
    display: flex;
    flex-direction: column;
    gap: $spacing-2;
  }

  &__left {
    width: 70%;
  }

  &__right {
    width: 30%;
  }

  /* ---------------- Shared ---------------- */

  .section-box {
    @include section-box();
  }

  .actions {
    display: flex;
    justify-content: space-between;

    &--info {
      padding-top: $spacing-4;
      border-top: 1px solid $background-division;
    }
  }

  @include respond('xs') {
    &__wrapper {
      flex-direction: column;
    }

    &__left,
    &__right {
      width: 100%;
    }
  }
}

// on desktop it shows on the right side
// on mobile it shows on the left side. below task status
.tasker-details {
  &--mobile {
    display: none;
  }

  @include respond('xs') {
    &--mobile {
      display: flex;
    }
    &--desktop {
      display: none;
    }
  }
}
