@use 'index' as *;

.view-tasker-profile {
  &__tasker-card {
    padding: 16px;

    .tasker-card {
      display: flex;
      align-items: center;
      gap: 16px;
      @include section-box;
      padding: $spacing-3;
      background-color: $background-hover;

      &__image {
        width: 72px;
        height: 72px;
        flex-shrink: 0;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      &__info {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }

      &__name {
        font-size: 18px;
        font-weight: 600;
        margin: 0;
      }

      &__city {
        font-size: 14px;
        color: $background-text;
        margin: 0;
      }
    }
  }

  &__contents-wrapper {
    .tab-content {
      padding: $spacing-5;
    }
  }
}
