<div class="view-tasker-profile">
  <div class="view-tasker-profile__tasker-card">
    <div class="tasker-card">
      <div class="tasker-card__image">
        <img
          [src]="
            taskerCardData()?.profileImageUrl ||
            'assets/defaults/default-user.png'
          "
          alt="Tasker profile"
        />
      </div>

      <div class="tasker-card__info">
        <h3 class="tasker-card__name">{{ fullName }}</h3>
        <p class="tasker-card__city">{{ taskerCardData()?.city || '' }}</p>
      </div>
    </div>
  </div>

  <div class="view-tasker-profile__contents-wrapper">
    <mat-tab-group>
      <mat-tab label="About">
        <ng-template matTabContent>
          <div class="tab-content">
            <app-profile-about-tasker
              [isEditable]="isEditable"
              [taskerAbout]="taskerAbout"
              [taskerWorkCategories]="taskerWorkCategories"
              (getAboutData)="onGetAboutData()"
            ></app-profile-about-tasker>
          </div>
        </ng-template>
      </mat-tab>

      <mat-tab label="Portfolio">
        <ng-template matTabContent>
          <div class="tab-content">
            <app-profile-tasker-portfolio></app-profile-tasker-portfolio>
          </div>
        </ng-template>
      </mat-tab>

      <mat-tab label="Reviews">
        <ng-template matTabContent>
          <div class="tab-content">
            <app-profile-tasker-reviews></app-profile-tasker-reviews>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
