@use 'colors' as *;
@use 'breakpoints' as *;
@use 'spacing' as *;
@use 'typography' as *;
@use 'borders' as *;

.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - $header-hight);
}
