@use 'index' as *;

.text-area {
  textarea {
    width: 100%;
    padding: $spacing-2 $spacing-3;
    border-radius: $border-radius-sm;
    border: $border-width-thin solid $input-border-hover;
    background-color: $inputs;
    font-size: $font-size-sm;
    outline: none;
    color: $white;
    transition: border-color 0.2s;
    resize: none;

    &::placeholder {
      color: $disabled;
    }

    &:focus {
      border-color: $primary-color;
    }
  }
  .error-input {
    border: 1px solid red;
  }
}
