@use 'index' as *;

// header
app-tasker-header {
  position: relative;
  z-index: 5;
  mat-icon {
    color: $background-text;
  }

  .nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: $background-hover;
      mat-icon {
        color: $white;
      }
    }
  }
}

.main-content-wrapper {
  mat-sidenav-container {
    height: calc(100vh - 64px);
    border-top: 1px solid $background-division;
  }

  mat-sidenav {
    padding: $spacing-1;
    border-right: 1px solid $background-division;
  }

  mat-sidenav-content {
    padding: $spacing-6;
  }

  mat-sidenav,
  mat-sidenav-content {
    border-radius: 0;
    transition: all 0.3s ease-out;
  }
}

.background {
  background-color: $background;
  color: $white;
}
