@use 'index' as *;

.section-title {
  line-height: $line-height-lg;
  margin-bottom: $spacing-2;

  &--left {
    h2 {
      font-size: $font-size-lg;
      text-align: left;
      position: relative;
      display: inline-block;
      margin: 0;
      padding-bottom: 5px;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        background-color: $primary-color;
        border-radius: 2px;
      }
    }
  }

  &--center {
    h2 {
      font-size: $font-size-xl;
      text-align: center;
      margin: 0 auto;
      font-weight: 600;
      padding-bottom: 10px;
    }
  }
}
