<div class="category-details-card">
  <div class="category">
    <div class="category-image">
      <img [src]="category().image" alt="Category Image" />
    </div>

    <div class="category-info">
      <p class="name">{{ category().name }}</p>
      @if (category().description) {
        <p class="discription">{{ category().description }}</p>
      }

      <p class="status" [ngClass]="category().isActive ? 'active' : 'inactive'">
        {{ category().isActive ? 'Active' : 'Inactive' }}
      </p>

      <div class="toggle">
        <app-button
          size="small"
          (clickEvent)="onChangeStatusClick(!category().isActive)"
          >Change Status</app-button
        >
      </div>
    </div>
  </div>

  <div class="category-actions">
    <app-button (clickEvent)="onDeleteClick()" variant="danger"
      >Delete</app-button
    >
  </div>
</div>
