@use 'index' as *;

.reset-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - $header-height);
  app-new-password-form{
    width: 40%;
  }

  @include respond('xs') {
    .reset-title{
        font-size: $font-size-lg;
    }
    app-new-password-form{
        width: 80%;
    }
  }
}
