@use 'index' as *;

.book-tasker {
  ::ng-deep .mat-horizontal-stepper-header-container {
    display: none !important;
  }

  mat-horizontal-stepper {
    margin: 0 auto;
    padding: $spacing-3;
    width: 80%;
  }
}
