@use 'index' as *;

.book-tasker {
  min-height: calc(100vh - $header-height);
  @include center-div;
  
  ::ng-deep .mat-horizontal-stepper-header-container {
    display: none !important;
  }

  mat-horizontal-stepper {
    margin: 0 auto;
    padding: $spacing-3;
    width: 90%;
  }

  @include respond('xs') {
    mat-horizontal-stepper {
      padding: 0;
      width: 100%;
    }
  }
}
