@use 'index' as *;

.signup-form {
  padding: $spacing-6;

  &__form-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-6;
  }
  &__signup-btn {
    margin-top: $spacing-6;
  }

  @include respond('xs') {
    padding: $spacing-3;

    &__form-fields {
      display: flex;
      flex-direction: column;
      gap: $spacing-3;
    }

    &__signup-btn {
      margin-top: $spacing-5;
    }
  }
}
