@use 'index' as *;

.category-card {
  display: flex;
  align-items: center;
  background-color: $background;
  color: $white;
  border-radius: $border-radius-md;
  border: $border-width-thin solid $background-hover;
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  height: 140px;

  .image-section {
    width: 40%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content-section {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .content-wrapper {
      display: flex;
      flex-direction: column;
      gap: $spacing-2;
      padding: $spacing-3;
      text-align: left;
      overflow-x: hidden;

      .category-name {
        font-size: $font-size-md;
        color: $primary-color;
        font-weight: $font-weight-bold;
        margin: 0;
      }

      .category-disc {
        font-size: $font-size-sm;
        margin-bottom: $spacing-2;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      app-button {
        width: 100%;
      }
    }
  }

  @include respond('xs') {
    max-width: 100%;
    height: 140px;

    .content-section {
      .content-wrapper {
        padding: $spacing-3;
      }
      .category-name {
        font-size: $font-size-sm;
      }
      .category-disc {
        font-size: $font-size-xs;
      }
    }
  }
}
