@if (categoryData) {
  <div class="category-card">
    <!-- image  -->
    <div class="category-card__image-section">
      <img [src]="categoryData.image" alt="" />
    </div>
    <!-- content  -->
    <div class="category-card__content-section">
      <div class="content-wrapper">
        <p class="category-name">{{ categoryData.name }}</p>
        <span class="category-disc">{{ categoryData.description }}</span>
        <!-- book button  -->
        <app-button
          type="button"
          size="small"
          (clickEvent)="onBookBtnClick(categoryData.id)"
        >
          Book Now
        </app-button>
      </div>
    </div>
  </div>
}
