<div class="hero">
  <div class="hero__content">
    <div class="hero__title">
      <h1>Find a trusted Tasker for any Job</h1>
    </div>
    <div class="hero__welcome-text">
      <p>
        From quick errands to big projects, we've got you covered. Book a Tasker
        today and get it done
      </p>
    </div>
    <div class="hero__search-box">
      <input
        type="text"
        name=""
        placeholder="Search for tasks like 'cleaning' or 'handyman'"
      />
      <button type="submit">Search</button>
    </div>
  </div>
</div>
