@use 'index' as *;

.table-listing {
  padding: $spacing-3 $spacing-1;
  &__wrapper {
    border: 1px solid $background-text;
    width: 100%;
  }

  &__table {
    background-color: $background;
    th,
    td {
      color: $background-text;
    }

    .mat-mdc-header-row {
      background-color: $background-hover;
    }
    .mat-mdc-row:hover .mat-mdc-cell {
      background-color: $inputs;
    }

    @include respond('xs') {
      .mat-mdc-cell,
      .mat-mdc-header-cell {
        font-size: $font-size-xs;
      }
      .actions-cell {
        width: max-content;
        app-button {
          margin-right: $spacing-2;
          margin-bottom: $spacing-2;
        }
      }
    }
  }

  &__image-container {
    width: max-content;
    padding: $spacing-2;
    overflow: hidden;
    img {
      width: 100px;
      height: 100px;
      object-fit: contain;
    }
  }

  &__actions-cell {
    padding: $spacing-2;

    app-button {
      display: inline-block;
      margin-right: $spacing-2;
    }
  }

  &__empty-text {
    text-align: center;
    font-style: italic;
    font-size: $font-size-lg;
    color: $disabled;
  }

  @include respond('xs') {
    overflow-x: scroll;
    &__wrapper {
      width: max-content;
    }
  }
}
