@use 'index' as *;

.table-listing {
  background-color: $background;
  border: 1px solid $background-text;

  th,
  td {
    color: $background-text;
  }

  .mat-mdc-header-row {
    background-color: $background-hover;
  }
  .mat-mdc-row:hover .mat-mdc-cell {
    background-color: $inputs;
  }

  .actions-cell {
    padding: $spacing-2;

    app-button {
      display: inline-block;
      margin-right: $spacing-2;
    }
  }
}

.empty-text {
  text-align: center;
  font-style: italic;
  font-size: $font-size-lg;
  color: $disabled;
}
