@use 'index' as *;

.task-timings-box {
  @include section-box;

  display: flex;
  flex-direction: column;
  gap: 12px;

  &__title {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: $white;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__label {
    font-size: 13px;
  }

  &__value {
    font-size: 13px;
    font-weight: 500;
  }
}
