@use 'index' as *;

.category-listing {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  gap: $spacing-3;
  height: auto;
  align-items: flex-start;
  padding-bottom: $spacing-6;
  padding-left: $spacing-8;

  &::-webkit-scrollbar {
    height: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $secondary-color-hover;
  }

  @include respond('sm') {
    padding: 0 $spacing-4;
    height: fit-content;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
