@use 'index' as *;

.category-listing {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: $spacing-2;
  height: auto;
  align-items: flex-start;

  app-categorey-card {
    width: 320px;
    height: 110px;
  }

  @include respond('sm') {
    gap: $spacing-3;
    padding: 0 $spacing-4;
    height: fit-content;

    app-categorey-card {
      width: 100%;
      height: fit-content;
    }
  }
}
