<div class="application-summary container">
  <div class="application-summary__container">
    <div class="application-summary__head">
      <h2 class="application-summary__title">How It Works</h2>
    </div>

    <div class="application-summary__body">
      <div class="application-summary__step">
        <div class="application-summary__icon">
          <mat-icon class="material-icons-outlined">touch_app</mat-icon>
        </div>
        <h3 class="application-summary__step-title">Choose Service</h3>
        <p class="application-summary__step-desc">
          Browse and select the service that fits your needs.
        </p>
      </div>

      <div class="application-summary__step">
        <div class="application-summary__icon">
          <mat-icon class="material-icons-outlined">keyboard_keys</mat-icon>
        </div>
        <h3 class="application-summary__step-title">Describe Task</h3>
        <p class="application-summary__step-desc">
          Describe about your task in detail.
        </p>
      </div>

      <div class="application-summary__step">
        <div class="application-summary__icon">
          <mat-icon class="material-icons-outlined"> location_on</mat-icon>
        </div>
        <h3 class="application-summary__step-title">Add Time & Place</h3>
        <p class="application-summary__step-desc">
          Add the location, date and time of task.
        </p>
      </div>

      <div class="application-summary__step">
        <div class="application-summary__icon">
          <mat-icon class="material-icons-outlined">event_available</mat-icon>
        </div>
        <h3 class="application-summary__step-title">Book Tasker</h3>
        <p class="application-summary__step-desc">Choose a tasker and book.</p>
      </div>
    </div>
  </div>
</div>
