<div class="sidenav">
  <mat-nav-list>
    @for (item of sideMenuItems(); track $index) {
      <a
        mat-list-item
        [routerLink]="item.route"
        routerLinkActive="active"
        class="sidenav__nav-item"
        [routerLinkActiveOptions]="{ exact: false }"
        (click)="onOptionSelect()"
      >
        <mat-icon matListItemIcon class="material-icons-outlined">{{
          item.icon
        }}</mat-icon>
        @if (!isSideNavCollapsed()) {
          <span matListItemTitle>{{ item.label }}</span>
        }
      </a>
    }
  </mat-nav-list>
</div>
