@use 'index' as *;

.image-upload-field {
  &__image-upload {
    width: 220px;
    height: 180px;
    border-radius: 12px;
    border: 2px dashed $background-text;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    overflow: hidden;
    background-color: $inputs;

    &:hover {
      border-color: $primary-color-active;
      background-color: $background-hover;
    }

    &:focus {
      outline: none;
      border-color: $primary-color-active;
      box-shadow: 0 0 0 3px rgba(63, 81, 181, 0.2);
    }

    &:hover .upload-icon {
      color: #3f51b5;
    }

    .error-input {
      border-color: $red;
    }
  }

  &__preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  &__placeholder {
    color: #666;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;

    .upload-icon {
      font-size: $font-size-xl;
      color: #9e9e9e;
      transition: color 0.2s ease;
    }

    p {
      font-size: 14px;
      margin: 0;
      font-weight: 500;
      color: #757575;
    }
  }
}
