<div class="availabilty-slot-modal">
  <button class="availabilty-slot-modal__close-btn" (click)="onClose()">
    <mat-icon class="material-icons-outlined">close</mat-icon>
  </button>

  <div class="availabilty-slot-modal__title">
    <h3>{{ isEditModal() ? 'Edit Slot' : 'Add Slot' }}</h3>
    @if (isDisabled) {
      <p style="color: red;">Currently Disabled</p>
    }
    <p></p>
  </div>

  <div class="availabilty-slot-modal__form-wrapper">
    <!-- pickers  -->
    <form [formGroup]="slotForm" (ngSubmit)="onFormSubmit()">
      <div class="inputs">
        <!-- Start time  -->
        <app-form-field-wrapper>
          <mat-form-field>
            <mat-label>Start Time</mat-label>
            <input matInput [matTimepicker]="start" formControlName="start" />
            <mat-timepicker-toggle
              matIconSuffix
              [for]="start"
            ></mat-timepicker-toggle>
            <mat-timepicker #start></mat-timepicker>
          </mat-form-field>
        </app-form-field-wrapper>

        <!-- End time  -->
        <app-form-field-wrapper>
          <mat-form-field>
            <mat-label>End Time</mat-label>
            <input matInput [matTimepicker]="end" formControlName="end" />
            <mat-timepicker-toggle
              matIconSuffix
              [for]="end"
            ></mat-timepicker-toggle>
            <mat-timepicker #end></mat-timepicker>
          </mat-form-field>
        </app-form-field-wrapper>
      </div>

      <app-button-loading text="Save" type="submit"></app-button-loading>
    </form>
    @if (isEditModal()) {
      <div class="availabilty-slot-modal__actions">
        <app-button-loading
          [text]="disableText"
          variant="secondary"
          (isClicked)="onChangeDisableClick()"
        ></app-button-loading>

        <app-button-loading
          text="Delete"
          variant="danger"
          (isClicked)="onDeleteClick()"
        >
        </app-button-loading>
      </div>
    }
  </div>
</div>
