<!-- admin header  -->
<app-admin-header>
  <button mat-icon-button (click)="collapseNav()" class="nav-btn">
    <mat-icon class="material-icons-outlined menu-option">menu</mat-icon>
  </button>
</app-admin-header>

<!-- side bar and content  -->
<main class="main-content-admin background">
  <mat-sidenav-container class="background">
    <!-- side bar  -->
    <mat-sidenav
      (closedStart)="onSidenavClose()"
      [opened]="!isHandset || collapsed()"
      [mode]="sidenavMode()"
      [style.width]="isHandset ? '278px' : sidenavWidth()"
      class="background"
    >
      <!-- navigation links  -->
      <app-sidebar [collapsed]="hideText()"></app-sidebar>
    </mat-sidenav>

    <!-- content  -->
    <mat-sidenav-content
      [style.margin-left]="isHandset ? '0px' : sidenavWidth()"
    >
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
