@use 'index' as *;

.booking-details {
  &__wrapper {
    margin-top: $spacing-2;
    display: flex;
    gap: $spacing-2;
    align-items: flex-start;
  }

  &__left,
  &__right {
    display: flex;
    flex-direction: column;
    gap: $spacing-2;
  }

  &__left {
    width: 70%;
  }

  &__right {
    width: 30%;
  }

  /* ---------------- Shared ---------------- */

  .actions {
    display: flex;
    justify-content: space-between;
  }
}
