<div class="booking-details">
  <app-page-title title="Task Details">
    <app-back-button size="small">Back</app-back-button>
  </app-page-title>

  @if (bookingDetails()) {
    <div class="booking-details__wrapper">
      <!-- LEFT SIDE -->
      <div class="booking-details__left">
        <!-- Task Status -->
        <app-task-status-box
          [taskStatus]="bookingDetails()?.taskStatus ?? null"
        >
          <div class="actions">
            <!-- when task is pending (not yet started) -->
            @if (bookingDetails()?.taskStatus === status.PENDING) {
              <app-button (clickEvent)="onStartTaskClick()" size="small"
                >Start Task</app-button
              >
            }
            <!-- when the task is started (in progress)  -->
            @else if (bookingDetails()?.taskStatus === status.IN_PROGRESS) {
              <!-- if the task is on break  -->
              @if (bookingDetails()?.isOnBreak) {
                <app-button size="small" (clickEvent)="resumeTask()"
                  >Resume</app-button
                >
              }
              <!-- if the task is not on break  -->
              @else {
                <app-button size="small" (clickEvent)="takeBreak()"
                  >Take Break</app-button
                >
                <app-button
                  size="small"
                  variant="success"
                  (clickEvent)="onFinish()"
                  >Finish Task</app-button
                >
              }
            }
          </div>
        </app-task-status-box>

        <!-- Task Details -->
        <app-task-info-box [taskInfo]="bookingDetails()"> </app-task-info-box>
      </div>

      <!-- RIGHT SIDE -->
      <div class="booking-details__right">
        <!-- User Details -->
        <app-related-user-box
          [title]="bookingDetails()?.userName || null"
          label="Client"
        >
          <app-button-loading
            text="Chat"
            (isClicked)="onChatWithUserClick()"
            [isLoading]="isChatLoading"
          ></app-button-loading>
        </app-related-user-box>

        <!-- Timings -->
        <app-task-timings-box
          [taskData]="bookingDetails()"
        ></app-task-timings-box>

        <!-- Payment -->
        <app-payment-details-box
          [payment]="bookingDetails()?.payment || null"
        ></app-payment-details-box>
      </div>
    </div>
  }
</div>
