@use 'index' as *;

.list-tasks {
  padding: 16px;

  &__filter {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
  }

  &__filter-btn {
    padding: 8px 14px;
    border-radius: 20px;
    border: 1px solid #dcdcdc;
    background-color: $background;
    font-size: 14px;
    cursor: pointer;
    color: #dcdcdc;
    transition: all 0.2s ease;

    &:hover {
      color: $black;
      background-color: $primary-color-hover;
    }

    &--active {
      background-color: $primary-color-active;
      color: $black;
      border-color: #000;
    }
  }

  &__tasks-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
