@use 'index' as *;

.list-tasks {
  padding: 16px;

  &__filter {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
  }

  &__filter-btn {
    padding: 8px 14px;
    border-radius: 20px;
    border: 1px solid #dcdcdc;
    background-color: $background;
    font-size: 14px;
    cursor: pointer;
    color: #dcdcdc;
    transition: all 0.2s ease;

    &:hover {
      color: $black;
      background-color: $primary-color-hover;
    }

    &--active {
      background-color: $primary-color-active;
      color: $black;
      border-color: #000;
    }
  }

  &__tasks-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  @include respond('xs') {
    padding: 12px;

    &__filter {
      overflow-x: auto;
      gap: 8px;
      padding-bottom: 4px;

      // hide scrollbar 
      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__filter-btn {
      flex-shrink: 0;
      padding: 6px 12px;
      font-size: 13px;
      white-space: nowrap;
    }

    &__tasks-wrapper {
      gap: 12px;
    }
  }
}
