<!-- @if (userLocation) { -->
<div class="home-location">
  <app-form-field-wrapper label="Location" [isFormField]="false">
    @if (userLocation?.location?.coordinates?.length) {
      <p>Coordinates Added</p>
    } @else {
      <p>-</p>
    }
  </app-form-field-wrapper>

  <app-form-field-wrapper label="City" [isFormField]="false">
    <p>{{ userLocation?.city ?? '-' }}</p>
  </app-form-field-wrapper>

  <!-- <app-form-field-wrapper label="Address" [isFormField]="false">
    <p>
      {{ userLocation?.address ?? '-' }}
    </p>
  </app-form-field-wrapper> -->
</div>
<!-- } -->
