<div class="tasker-profile-about">
  <div class="tasker-profile-about__section">
    <div class="section-head">
      <p class="title">About Me</p>
      @if (isEditable) {
        <app-button size="small" (clickEvent)="onEditAboutClick()"
          >Edit</app-button
        >
      }
    </div>
    <div class="data">
      @if (taskerAbout()?.about) {
        <p>{{ taskerAbout()?.about || '' }}</p>
      } @else {
        <p class="empty-text">Not Added</p>
      }
    </div>
  </div>

  <div class="tasker-profile-about__section">
    <div class="section-head">
      <p class="title">Work Categories</p>
      @if (isEditable) {
        <app-button size="small">Edit</app-button>
      }
    </div>
    <div class="data">
      <mat-chip-listbox>
        <mat-chip>Plumbing</mat-chip>
        <mat-chip>Electrical</mat-chip>
        <mat-chip>Painting</mat-chip>
        <mat-chip>Cleaning</mat-chip>
      </mat-chip-listbox>
    </div>
  </div>
</div>
