<div class="tasker-profile-about">
  <div class="tasker-profile-about__section">
    <div class="section-head">
      <p class="title">About Me</p>
      @if (isEditable) {
        <app-button size="small" (clickEvent)="onEditAboutClick()"
          ><mat-icon class="material-icons-outlined">edit</mat-icon>
        </app-button>
      }
    </div>
    <div class="data">
      @if (taskerAbout()?.about) {
        <p>{{ taskerAbout()?.about || '' }}</p>
      } @else {
        <p class="empty-text">Not Added</p>
      }
    </div>
  </div>

  <div class="tasker-profile-about__section">
    <div class="section-head">
      <p class="title">Work Categories</p>
      @if (isEditable) {
        <app-button size="small" (clickEvent)="onAddWorkCategoryClick()"
          ><mat-icon class="material-icons-outlined"
            >add_2</mat-icon
          ></app-button
        >
      }
    </div>
    <div class="tasker-profile-about__categories data">
      @if (taskerWorkCategories().length > 0) {
        <app-chips-box
          [items]="taskerWorkCategories"
          [editable]="isEditable"
          (removeItem)="onRemoveWorkCategory($event)"
        ></app-chips-box>
      } @else {
        <p class="empty-text">No working categories added</p>
      }
    </div>
  </div>
</div>
