// Border width
$border-width-thin: 1px;
$border-width-medium: 2px;
$border-width-thick: 3px;

//broder radius
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 16px;
$border-radius-full: 50%;
